---
layout: default
title: Lint Media Log
---
<header>
    <div class="container">
        <div class="flex-row">
            <div class="logo">
                <img src="assets/images/lint-logo.svg">
                <span>Media Log</span>
            </div>
            <div class="flex-row">
                <div id="bar"></div>
                <div id="bar"></div>
                <div id="bar"></div>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="container carousel-wrapper">
        <div class="carousel-container">
            <div class="carousel">
                {% for post in site.categories.watched limit: 1 %}
                <div class="recent-post">
                    <div class="thumbnail" style="background-image: url('{{ post.thumbnail }}');">
                        <div class="chips">
                            <span class="chip">{{ post.category | capitalize }}</span>
                            <span class="chip">{{ post.date | date: "%Y" }}</span>
                        </div>
                    </div>
                    <span>{{ post.genre }}</span>
                    <h1>{{ post.title }}</h1>
                    <div class="icons">
                        <div class="icon icon__view"></div>
                        <div class="icon icon__link"></div>
                    </div>
                </div>
                {% endfor %}

                {% for post in site.categories.read limit: 1 %}
                <div class="recent-post">
                    <div class="thumbnail" style="background-image: url('{{ post.thumbnail }}');">
                        <div class="chips">
                            <span class="chip">{{ post.category | capitalize }}</span>
                            <span class="chip">{{ post.date | date: "%Y" }}</span>
                        </div>
                    </div>
                    <span>{{ post.genre }}</span>
                    <h1>{{ post.title }}</h1>
                    <div class="icons">
                        <div class="icon icon__view"></div>
                        <div class="icon icon__link"></div>
                    </div>
                </div>
                {% endfor %}
                
                {% for post in site.categories.played limit: 1 %}
                <div class="recent-post">
                    <div class="thumbnail" style="background-image: url('{{ post.thumbnail }}');">
                        <div class="chips">
                            <span class="chip">{{ post.category | capitalize }}</span>
                            <span class="chip">{{ post.date | date: "%Y" }}</span>
                        </div>
                    </div>
                    <span>{{ post.genre }}</span>
                    <h1>{{ post.title }}</h1>
                    <div class="icons">
                        <div class="icon icon__view"></div>
                        <div class="icon icon__link"></div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>

<section class="container">
    <ul class="posts-list">
        {% for post in site.posts %}
        <li class="post">
            <div class="thumbnail" style="background-image: url('{{ post.thumbnail }}');">
                <div class="chips">
                    <span class="chip">{{ post.category | capitalize }}</span>
                    <span class="chip">{{ post.date | date: "%Y" }}</span>
                </div>
            </div>
            <span>{{ post.genre }}</span>
            <h2>{{ post.title }}</h2>
            <div class="icons">
                <div class="icon icon__view"></div>
                <div class="icon icon__link"></div>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>

{% include footer.html %}