<header>
    <div class="container">
        <div class="flex-row">
            <div class="logo">
                <a href="/">
                    <img src="assets/images/lint-logo.svg" alt="A logo in the shape of cloud with the word Lint on it.">
                    <span>Media Log</span>
                </a>
            </div>
            <div class="flex-row">
                <div class="prev controls"><img src="/assets/images/left-arrow.svg" alt="An arrow pointing left."></div>
                <div class="next controls"><img src="/assets/images/right-arrow.svg" alt="An arrow pointing right."></div>
            </div>
        </div>
    </div>
</header>