<header>
    <div class="container">
        <div class="flex-row">
            <div class="logo">
                <a href="/">
                    <img src="assets/images/lint-logo.svg" alt="A logo in the shape of cloud with the word Lint on it.">
                    <span>Media Log</span>
                </a>
            </div>
            <div class="flex-row">
                <div class="prev controls">&#129152;</div>
                <div class="next controls">&#129154;</div>
            </div>
        </div>
    </div>
</header>