$dark: #101115;
$light: #DBDDE0;
$content-bg: #C4C4C4;

body{
    background-color: $light;
    color: $dark;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

header, footer{
    background-color: $dark;
    color: $light;
}

main{
    background-color: $dark;
    border-radius: 0 0 1.5rem 1.5rem;
}

a{
    color: $light;
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }
}

img{
    border-radius: 1.5rem;
}

h1{
    font-size: 4.5rem;
    font-weight: 700;
}

h2{
    font-size: 1.5rem;
    font-weight: bold;
}

.container{
    max-width: 1248px;
    margin: 0 auto;
    padding: 1rem;
}

.flex-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.controls{
    margin-left: 1rem;
    font-size: 1.125rem;
    color: $light;
    cursor: pointer;
}

.logo{
    display: flex;
    font-weight: 500;
    font-style: italic;
    align-items: center;

    img{
        padding-right: .5rem;
    }
}

.recent-post{
    margin-bottom: 1.5rem;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: $light;

    .thumbnail{
        height: 500px;
        margin-bottom: 2.5rem;
    }
}

.error-page{
    height: 100vh;
    color: $light;
    border-radius: 0;
}

.category-filters{
    margin: 0 -.5rem;
    button{
        margin: 0 1rem 1rem 0;
        padding: .5rem 1rem;
        height: 2.5rem;
        font-family: 'Montserrat', sans-serif;
        font-size: 1rem;
        color: $dark;
        background-color: $light;
        border-radius: 1.5rem;
        border-style: inset;
        border: 2px solid $dark;
        cursor: pointer;
        transition: all .25s;

        &:hover{
            color: $light;
            background-color: $dark;
        }

        &:focus{
            color: $light;
            background-color: $dark;
        }
    }
}

.posts-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 -1rem;

    .post{
        flex: 1 0 calc(100%/3);
        min-width: 226px;
        border: .75rem solid transparent;
        &__inner{
            height: 100%;
            padding: 1rem;
            border-radius: 1.5rem;
            border: 2px solid $dark;
        }
    }
}

.thumbnail{
    position: relative;
    min-height: 226px;
    margin-bottom: 1rem;
    border-radius: 24px;
    background-position: center;
    background-size: cover;

    .chips{
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;

        .chip{
            margin-left: .5rem;
            padding: .5rem .75rem;
            border-radius: 1.5rem;
            font-size: .75rem;
            background-color: $dark;
            color: $light;
        }
    }
}

.icons{
    display: flex;
    padding-top: 1rem;

    .icon__view{
        width: 32px;
        height: 32px;
        margin-right: 1rem;
        background-image: url('/assets/images/view-icon--dark.svg');
        transition: all .25s;
        &:hover{
            background-image: url('/assets/images/view-icon--light.svg');
        }
    }

    .icon__link{
        width: 32px;
        height: 32px;
        background-image: url('/assets/images/link-icon--dark.svg');
        transition: all .25s;
        &:hover{
            background-image: url('/assets/images/link-icon--light.svg');
        }
    }

    .icon__view--reverse{
        width: 32px;
        height: 32px;
        margin-right: 1rem;
        background-image: url('/assets/images/view-icon--light.svg');
        transition: all .25s;
        &:hover{
            background-image: url('/assets/images/view-icon--dark.svg');
        }
    }

    .icon__link--reverse{
        width: 32px;
        height: 32px;
        background-image: url('/assets/images/link-icon--light.svg');
        transition: all .25s;
        &:hover{
            background-image: url('/assets/images/link-icon--dark.svg');
        }
    }
}

@media only screen and (max-width: 767px) {
    h1{
        font-size: 3rem;
    }
    .posts-list{
        .post{
            width: 100%;
        }
    }
    .recent-post{
        .thumbnail{
            height: auto;
        }
    }
}
